body {
    background-color: rgb(254, 250, 224);
}
#my-header {
    display: block;
    height: 60px;
    width: 100%;
    background-color: rgb(96, 108, 56);
    justify-content: space-around;

}

#navbar1 {
    display: inline-flex
    justify-content: space-between;;
    /* padding-left: 20px;
    padding-top: 20px; */
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-li {
    /* display: inline; */
    float: left;
  }

.navbar-a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }

#profile-pic {
    border-radius: 50%;
    border: 5px solid rgb(96, 108, 56);
}

h1 {
    line-height: 1.1em;
    letter-spacing: 0.03em;
}
h3 {

}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

a {
    font-size: medium;
    color: rgb(188, 108, 37);
}

ul {
    color: rgb(96, 108, 56);
}

ol {
    color:rgb(188, 108, 37);
}
#annas-picture {
    margin-bottom: 20px;
    margin-left: 50px;
    padding: 10px;
}
.text-part-of-page {
    margin-bottom: 20px;
    margin-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    grid-gap: 40px;
    
  }
 
#page-content{
    padding: 20px;
}
.button-mp {

    border: none;
    color: white;
    padding: 5px 10px;
    
}
#button-cv {
    background-color: rgba(86, 86, 146, 0.673);
    color: white;
}

#button-contact {
    background-color: rgb(221, 161, 94);
    color: white;
}

.interact-buttons {
     
}

footer {
    background-color: rgb(96, 108, 56);
    height: 60px;
    width: 100%;
    
}

#footer-p {
    padding: 10px;
}